{% extends "base.html" %}

{% block title %}Login Page{% endblock %}

{% block content %}

    <div class="container">
        <div id="auth0LockDiv" style="margin:0 auto;"></div>
    </div>

    <script src="https://cdn.auth0.com/js/lock/10.0/lock.min.js"></script>
    <script type="text/javascript">
        var lock = new Auth0Lock('{{ auth0_client_id }}', '{{ auth0_domain }}', {
            auth: {
                redirectUrl: '{{ auth0_callback_url }}?{{ request.GET.urlencode }}',
                responseType: 'code',
                params: {
                    scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
                },
                sso: true
            },
            container: 'auth0LockDiv',
            theme: {
                logo: 'https://dbmi.hms.harvard.edu/profiles/hmssf/themes/custom/hms_bootstrap/logo.png',
                primaryColor: "crimson"
            },
            languageDictionary: {title: ""}
        });
        lock.show();
    </script>

{% endblock %}