{% extends "base.html" %}

{% block title %}Login Page{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            {# Check for project information #}
            {% if project_title and project_icon_url or project_description %}
            <div class="project col-xs
            col-sm-offset-1 col-sm-5
            col-md-offset-2 col-md-4
            col-xl-offset-3 col-xl-3">
                <div class="project-panel panel">
                    <div class="panel-heading">
                        {% if project_icon_url %}
                        <div class="icon"><img width="220" src="{{ project_icon_url }}" /></div>
                        {% endif %}
                        <h1 class="panel-title">{{ project_title }}</h1>
                    </div>
                    <div class="panel-body">
                        {% if project_description %}
                        <p>{{ project_description }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div id="auth0LockDiv" class="col-sm-3 col-xs"></div>
            {% else %}
            <div id="auth0LockDiv" class="col-xs"></div>
            {% endif %}
        </div>
    </div>

    <script src="https://cdn.auth0.com/js/lock/10.0/lock.min.js"></script>
    <script type="text/javascript">
        var lock = new Auth0Lock('{{ auth0_client_id }}', '{{ auth0_domain }}', {
            auth: {
                redirectUrl: '{{ return_url }}',
                responseType: 'code',
                params: {
                    scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
                },
                sso: true
            },
            container: 'auth0LockDiv',
            theme: {
                logo: 'https://dbmi.hms.harvard.edu/profiles/hmssf/themes/custom/hms_bootstrap/logo.png',
                primaryColor: "crimson"
            },
            languageDictionary: {
                title: {% if project_title and not project_description and not project_icon_url %}
                            "{{ project_title }}"
                        {% else %}
                            ""
                        {% endif %}
            }
        });
        lock.show();
    </script>

{% endblock %}