{% extends "base.html" %}

{% load staticfiles %}
{% load static %}
{% load bootstrap3 %}

{% block title %}{% if project_title %}{{ project_title }}{% else %}HMS DBMI{% endif %} Login{% endblock %}

{% block content %}

    <div class="row">
        <div id="auth0LockDiv" class="col-xs"></div>
    </div>

    <script src="https://cdn.auth0.com/js/lock/11.7.2/lock.min.js"></script>
    <script type="text/javascript">
        var title = "{% if project_title and not project_icon_url %}{{ project_title }}{% else %}{% endif %}";
        var lock = new Auth0Lock('{{ auth0_client_id }}', '{{ auth0_domain }}', {
            auth: {
                redirectUrl: '{{ return_url }}',
                responseType: 'code',
                params: {
                    scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
                },
                sso: true
            },
            container: 'auth0LockDiv',
            theme: {
                logo: '{% if project_icon_url %}{{ project_icon_url }}{% else %}{% static "hms_shield.png" %}{% endif %}',
                primaryColor: "crimson"
            },
            languageDictionary: {
                title: title
            }
        });
        lock.show();
    </script>

{% endblock %}